<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New account credentials</title>
</head>
<body>
    <form>
        <input class="textArea" type="text" name="account[title]" placeholder="Title" required>
        <input class="textArea" type="text" name="account[username]" placeholder="Username" required>
        <input class="textArea" id="generatedPassword" type="text" name="account[password]" placeholder="Password" required>
        <button id="saveButton" type="submit">Save</button>

    </form>
</body>
</html>